*{
    padding:0px;
    margin:0px;
}

.part_one{
    width:100%;
    height:10vh;
    background-color: rgb(179, 237, 237);
    display:flex;
    justify-content: space-between;
    padding:0px 20px;
    box-sizing: border-box;
    align-items: center;
    position:sticky;
    top: 0px;

    
}

.part{
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size: larger;
}

.part_one ul,a{
    text-decoration: none;
    list-style-type: none;
    display:flex;
    color:rgb(61, 55, 63);
}

li{
    padding:20px;
    font-weight: 400;
    font-size: larger;
    
}

li:hover{
    text-decoration:underline;
    transform: scale(1.1,1.1);
}

#btn1{
    width:5rem;
    height:2rem; 
    border-radius: 10px;
    background-color: rgb(100, 99, 97);
    color:white;
    border:none;
}

#btn1:hover{
    background-color: rgb(166, 159, 151);
}

.header_two{
    width:100%;
    height:7vh;
    background-color: rgb(206, 216, 216);
    display:flex;
    justify-content:space-between;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 50px;
    position:sticky;
    top:0px;
}

#internal{
    display:flex;
    padding-left:450px;
    

}
#id1{
    width:20px;
    height:20px;
    padding:2px 7px;
}


input[type="searchbar"]{
    width:30vw; 
    height:4vh;
    margin-bottom: 0px;
    
}

.header_two #img1{
    padding-right: 20px;
    position:relative;
}

#click_me{
    position:absolute;
    top:5px;
    right:40px;
    color:rgb(69, 72, 223);
    font-weight: 700;
    font-size:larger;
}


/* styling of each individual card */
.card{
    width:300px;
    height:auto;
    /* height:60vh; */
    margin:10px 20px 20px 10px;
    /* box-shadow: 4px 5px 5px 0px rgba(190,181,181,0.75); */
    box-shadow: 3px 4px 5px 0px rgba(190,181,181,0.75);
    
    

}

.card:hover{
    transform:scale(1.1,1.1);
}

/* adjusting image size */
.card img{
    width:200px;
    height:300px;
    padding:20px 40px;
}

.card h3,p{
    text-align: center;
    /* padding-left:15px; */
}

/* styling whole elements like using display flex */
.whole{
    display:flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* styling add-to-cart button element  */
.add-to-cart{

    width:7rem;
    height:2rem;
    margin:10px 80px;
    border-radius: 10px;
    background-color: rgb(166, 159, 151);
    border:none;
    color:antiquewhite;

}

.add-to-cart:hover{
    background-color:rgb(85, 91, 91);
}


.product-list h2{
     text-align: center;
     margin: 20px;
     color:rgb(85, 91, 91);;
}

/* slider show styling */
.slider-one{
    margin-left: 50px;
}

.color1{
    background-color: rgb(165, 173, 173);
}

.cart-item{
    width:300px;
    height:auto;
    margin:20px;
    box-shadow: 3px 4px 5px 0px rgba(190,181,181,0.75);

}

.cart-item img{
    width:200px;
    height:300px;
    padding:20px 40px;
   

}

.cart-item h3{
    text-align: center;
}
.remove-button,.cart-total{

    width:7rem;
    height:2rem;
    margin:10px 80px;
    border-radius: 10px;
    background-color: rgb(166, 159, 151);
    border:none;
    color:antiquewhite;
    
}

.remove-button:hover{
    background-color: rgb(112, 108, 103);
}

#total{
    padding:10px 0px 0px 10px;
}